body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg-inverse {
    background-color: #493494;
}

th {
    background-color: #493494;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}


td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

h3 {
    
    text-align: center;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.button {
    background-color: #493494; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    
}

container {
    
	margin-top:0;
		margin-right:auto;
		margin-bottom:0;
		margin-left:auto;
}